indo_journals
indo_journals_sample
sampled_pdfs
ocr_results.csv
.env
md_completed
indo_journals_subsets
subset_1_filtered.csv
sample_filtered.csv
subset_2_filtered.csv
subset_3_filtered.csv
subset_4_filtered.csv
subset_5_filtered.csv
cleaned_output.txt
extracted_text.txt
sample_5_final_output.csv
sample_filtered_5_true.csv
marker
subset_1_final_output.csv
subset_1_filtered_updated.csv